<div>
  <div class="center-form-card">
    <h2>Inscription</h2>
    <form action="">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email"/>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password"/>
      </div>
      <div class="center-form-card-actions">
        <button>Inscription</button>
      </div>
    </form>
    <a class="simple-button-navigation" routerLink="/register">Inscription</a>
  </div>
</div>
