<div class="container-form-center">
  <div class="center-form-card">
    <h2>Connexion</h2>
    <form [formGroup]="userForm">
      <div class="form-error" *ngIf="formError">{{ formError }}</div>
      <div class="form-group">
        <label class="label" for="email">Email</label>
        <input (keypress)="OnChangeField('email')" (change)="OnChangeField('email')" id="email" type="email" formControlName="email"/>
        <label *ngIf="emailError" class="field-error-label" for="email">{{ emailError }}</label>
      </div>
      <div class="form-group">
        <label class="label" for="password">Mot de passe</label>
        <input (keypress)="OnChangeField('password')" (change)="OnChangeField('password')" id="password" type="password" formControlName="password"/>
        <label *ngIf="passwordError" class="field-error-label" for="password">{{ passwordError }}</label>
      </div>
      <div class="center-form-card-actions">
        <button (click)="LoginAction()">Connexion</button>
      </div>
    </form>
    <a class="simple-button-navigation" routerLink="/register">Inscription</a>
  </div>
</div>
